# This configuration file should contain all required configuration parameters
# for the phylogenetic workflow to run to completion.
#
# Define optional config parameters with their default values here so that users
# do not have to dig through the workflows to figure out the default values

# Sequences must be FASTA and metadata must be TSV
# Both files must be zstd compressed
sequences_url: "https://data.nextstrain.org/files/workflows/lassa/{segment}/sequences.fasta.zst"
metadata_url: "https://data.nextstrain.org/files/workflows/lassa/{segment}/metadata.tsv.zst"

strain_id_field: "accession"
display_strain_field: "strain"

filter:
  min_length:
    l: 5000
    s: 2000
    gpc: 800
  include: "defaults/include.txt" # need to always include root strains
  exclude: "defaults/exclude.txt"
  query: "is_lab_host != 'true'"
  # Necessary for is_lab_host to be read as a string instaed of a boolean
  custom_params: "--query-columns is_lab_host:str"

tree:
  method: "iqtree"

refine:
  coalescent: "opt"
  date_inference: "marginal"
  clock_rate: 0.0006
  # Rooting to outgroup clade based on strains
  # Pinneo-NIG-1969 (L accession KM822127 and S accession KM822128)
  # and strain 812285 (L accession MG812674 and S accession MG812675)
  # TreeTime needs two tips to root to common ancestor of these tips
  root:
    l: "KM822127 MG812674"
    s: "KM822128 MG812675"
    gpc: "KM822128"
    #why?

ancestral:
  inference: "joint"

traits:
  columns: "country"

export:
  auspice_config: "defaults/auspice_config.json"
  description: "defaults/description.md"
