# This configuration file should contain all required configuration parameters
# for the phylogenetic workflow to run to completion.
#
# Define optional config parameters with their default values here so that users
# do not have to dig through the workflows to figure out the default values

# Sequences must be FASTA and metadata must be TSV
# Both files must be zstd compressed
sequences_url: "https://data.nextstrain.org/files/workflows/lassa/{segment}/sequences.fasta.zst"
metadata_url: "https://data.nextstrain.org/files/workflows/lassa/{segment}/metadata.tsv.zst"

gpc_manual_alignment: "https://raw.githubusercontent.com/JoiRichi/LASV_ML_manuscript_data/main/alignment_preprocessing/final_passed_sequences_manual_curated.fasta"

strain_id_field: "accession"
display_strain_field: "strain"

filter:
  min_length:
    l: 5000
    s: 2000
    gpc: 800
  include: "defaults/include.txt" # need to always include root strains
  exclude: "defaults/exclude.txt"
  query: "is_lab_host != 'true'"
  # Necessary for is_lab_host to be read as a string instaed of a boolean
  custom_params: "--query-columns is_lab_host:str"

tree:
  method: "iqtree"

refine:
  coalescent: "opt"
  date_inference: "marginal"
  literature_clock_rate:   0.00078     #Ehichioya et al. 2019
  # Root the tree based on "mid_point" for treetime
  root:
    l: "mid_point"
    s: "mid_point"
    gpc: "mid_point"

ancestral:
  inference: "joint"

traits:
  columns: country

export:
  auspice_config: "defaults/auspice_config.json"
  description: "defaults/description.md"
